@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.logo{
   font-size: 32;
   font-family: "Inter", sans-serif;
   font-weight: bolder;
   color:#0274E4; 
   margin-left:60px;
   margin-top: 29px;
}
a{
   text-decoration: none;
}
.navButton{
   background-color:#0274E4;
   color:white;
   border-style: none;
   padding: 5px 20px;
   font-size: 16px;
   font-weight: bold;
   font-family: "Inter", sans-serif; 
   border-radius: 7px;
}
.navMenuOne{
   font-family: "Inter", sans-serif; 
   font-size: 16px;
   font-weight:bolder;
   line-height: 2;
}

@media(max-width:786px){
   .logo{
      font-size:24px;
      margin-top:18px;
      margin-left:16px;
   }
}

@media(max-width:786px){
   .navButton{
      font-size:12px;
      padding:5px 10px;
      margin-left: 18px;
   }
}

@media(max-width:786px){
      .navMenuOne{
         font-size: 12px;
         margin-left: 18px;
      }   

}